*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: salmon ;
    padding: 40px;
    width: 100%;
}
#image-wrapper{
    width: 100%;
}
#image{
    margin: 0px 0px 0px 60px;
}
#wrapper{

background:linear-gradient(120deg, #ff0000, #282828);
color: white;
border-radius: 20px;
width: 300px;
height: 350px;
}

#header{
    padding: 20px;
    display: flex;
    font-size: 30px;
}
#number{
    margin-right: 15px;
}
#name{
    text-transform: capitalize;
}
#btn{
    border-radius: 10px;
    border-color: #ff0000;
    background-color: chocolate;
    width: 150px;
    height: 50px;
    margin: 0px 75px 0px 75px;
}